/* app css stylesheet */

html, body {
  background-color: #FFF2F5;
}
.talc-app .navbar {
  background-color: #FF7D97;
  border-color: #FF7D97;
  margin-bottom: 0;
}
.talc-app .navbar-nav {
  margin: 0 -15px;
}
.talc-app .navbar-right {
  float: right!important;
}
.talc-app .navbar-brand,
.talc-app .navbar-nav .settings {
  display: inline-block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-repeat: no-repeat;
  padding: 0;
}
.talc-app .navbar-brand {
  background-image: url(../img/talc-logo.svg);
  width: 83px;
  height: 28px;
  margin: 10px 0 !important;
}
.talc-app .navbar-nav .settings {
  background-image: url(../img/settings.svg);
  width: 21px;
  height: 21px;
  margin: 0 15px;
}
.talc-view .container {
  padding-left: 0;
  padding-right: 0;
}
.talc-app .talc-wrapper {
  position: relative;
  background-color: #FFE6EB;
}
.talc-app #talc-editor {
  position: relative;
  padding: 10px;
  width: 90%;
  max-width: 90%;
  height: 480px;
  border: none;
  background-color: white;
  resize: none;
  z-index: 100;
}
.talc-app #talc-editor:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.talc-app #talc-results {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 50;
}
.talc-app #talc-results li {
  position: relative;
  list-style: none;
  font-weight: bold;
}
.talc-app #talc-results li .result-original {
  width: 90%;
}
.talc-app #talc-results li .result-num {
  position: absolute;
  top: 0;
  right: 10px;
  text-align: right;
}

@media (min-width: 768px) {
  .talc-app .talc-wrapper {
    margin-top: 20px;
    border: 1px solid #FFBFCD;
  }
}