<header class="container">
	<h1>Talc</h1>
</header>

<article class="container">
	<section>
		<p>Any elements with the <code>contenteditable</code> attribute set will have a grey outline as you hover over. Feel free to edit and change their contents.  I'm using local storage to maintain your changes.</p>
	</section>
	<section id="editable" contenteditable="true">
		<h2>Go ahead, edit away!</h2>
		<p>Here's a typical paragraph element</p>
		<ol>
			<li>and now a list</li>
			<li>with only</li>
			<li>three items</li>
		</ol>
	</section>
	<div>
		<input type="button" id="clear" value="Clear changes" />
	</div>
</article>